body{
	background-color: #0F032E;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #423885;
}

header{
	background-image: linear-gradient(#000000, #0F032E);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

h1, h2{
	font-family: 'Josefin Sans', sans-serif;
}

header h1{
	color: #B9BFFC;
	font-size: 50px;
	line-height: 55px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
}

header img{
	width: 400px;
}

main{
	max-width: 900px;
	border-radius: 12px 12px 0 0;
	margin: 0 auto;
	padding: 30px;
	background-color: ghostwhite;
}

main img{
	max-width: 100%;
	padding-top: 30px;
}

h2{
	font-size: 28px;
	color: #483D8B;
	margin: 40px 0 10px;
	line-height: 30px;
}

p{
	padding-bottom: 10px;
}

a{
	text-decoration: none;
	color: #AB09A6;
}

a:hover{
	text-decoration: none;
	color: white;
	background-color: #766DB2;
}


p.caption{
	color: #B0ACCD;
	font-style: italic;
	margin-top: 5px;
}

p.caption a{
	color: #766DB2;
}


p.caption a:hover{
	text-decoration: none;
	color: white;
	background-color: #766DB2;
}



.powers{
	text-align: left;
}



footer{
	max-width: 900px;
	margin: 2px auto 100px;
	background-color: ghostwhite;
	text-align: center;
	padding: 30px;
}

footer p{
	margin: 0;
	font-size: 14px;
	color: #B0ACCD;
}





